
.chatbot{
  border: 3px solid black;
  width: 90vw;
  height: 100vh;
}
h3{
  font-size: 40px;
  margin-top: 20px;
  color: rgb(116, 236, 116);
  text-align: center;

}
input[type=text] {
  width: 100%;
  margin-top: 460px;
  height: 70px;
  box-sizing: border-box;

}
button{
  margin-left: 92%;

}