.test{
  margin-left: 0;
  border: 3px solid black;
  width:80vw;
  height: fit-content;

}
h3{
  font-size: 40px;
  margin-top: 20px;
  color: #ADD8E6;
  text-align: center;

}
.msg{
  color: black;
  background-color:#60b9d6; 
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
  margin-left: 30px;
  width: fit-content;
  height: 40px;
  border-radius: 30px 0px 15px 0px ;
  box-shadow: 0 0 6px #B2B2B2;
  
  
}
.inp{

}